<link rel="stylesheet" href="css/experience.css">
<section id="experience" class="timeline">
  <div class="container">
    <h2>Experiencia</h2>
    <h6>Soy un desarrollador web con experiencia en el desarrollo de sitios web, aplicaciones móviles y aplicaciones
      web.</h6>

    <div class="experience-list">
      <article class="message-item">
        <div class="message-inner">
          <header class="message-head">
            <div class="user-detail">
              <h5 class="handle">Nava</h5>
              <time class="message-date">2024</time>
            </div>
          </header>
          <p class="message-content">Hice el desarrollo de un sitio web para la empresa de la ciudad de
            Nava. Un empresa de deporte. Junto a un gran equipo de desarrollo</p>
        </div>
      </article>

      <article class="message-item">
        <div class="message-inner">
          <header class="message-head">
            <div class="user-detail">
              <h5 class="handle">Yasabesdonde</h5>
              <time class="message-date">2025</time>
            </div>
          </header>
          <p class="message-content">Es mi trabajo actual. Aun que hay un equipo muy bueno de desarrollo soy el unico
            que hace la chamba</p>
        </div>
      </article>

      <!-- Repite estructura con Microsoft, Apple, etc. -->
    </div>
  </div>
</section>