<link rel="stylesheet" href="css/porfolio.css" />

<section id="portfolio" class="content">
    <div class="container">
        <div class="section-title">
            <h2>Proyectos</h2>
            <h6>Los proyectos que he realizado</h6>
        </div>

        <ul class="portfolio-filters">
            <li><a href="#" data-filter="*" class="active">All</a></li>
        </ul>

        <div class="portfolio-grid">
            <figure class="portfolio-item">
                <div class="portfolio-img">
                    <img src="img/porfolio/nava.png" alt="Project 1" />
                </div>
                <figcaption>
                    <h2>Na<span>va</span></h2>
                </figcaption>
            </figure>

            <figure class="portfolio-item">
                <div class="portfolio-img">
                    <img src="img/porfolio/yasabesdonde.jpg" alt="Project 1" />
                </div>
                <figcaption>
                    <h2>Yasabes<span>Donde</span></h2>
                </figcaption>
            </figure>
            <!-- Repite <figure> según necesidad -->
        </div>
    </div>
</section>