<link rel="stylesheet" href="css/reference.css">
<table>

  <caption>Referencia</caption>
  <thead>
    <tr>
      <th>Nombre del Jefe</th>
      <th>Mi cargo</th>
      <th>Descripción</th>
      <th>Teléfono del Jefe</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Carlos</td>
      <td>Desarrollador Web</td>
      <td>Realizar el desarrollo de sitios web</td>
      <td>+56 91 12345678</td>
    </tr>
    <tr>
      <td>Diogo</td>
      <td>Desarrollador Web</td>
      <td>Realizar el desarrollo de sitios web</td>
      <td>+56 91 12345678</td>
    </tr>
  </tbody>
</table>