<link rel="stylesheet" href="css/header.css">

<header id="header_wrapper">
  <div class="header_box">
    <nav class="navbar">
      <div class="navbar-header">
        <button id="nav-toggle" class="navbar-toggle">&#9776;</button>
      </div>
      <ul id="mainNav" class="navStyle">
        <li class="active"><a href="#hero_section">Inicio</a></li>
        <li><a href="#aboutUs">Sobre mi</a></li>
        <li><a href="#service">Habilidades</a></li>
        <li><a href="#experience">Experiencia</a></li>
        <li><a href="#portfolio">Proyectos</a></li>
      </ul>
    </nav>
  </div>
</header>
