<link rel="stylesheet" href="css/hero.css">
<section id="hero_section" class="hero-section">
  <div class="hero-wrapper">
    <div class="hero-content">
      <div class="hero-text">
        <h2>Soy <br><strong> Web Developer</strong></h2>
        <p>
          Soy desarrollador web con experiencia en el desarrollo de sitios web, aplicaciones móviles y aplicaciones web.
          Soy especializado en desarrollo de sitios web con un enfoque en la usabilidad.
          Soy entusiasta de la vida, la diseño y la innovación.
          Tengo 20 años de edad
        </p>
        <div class="underline"></div>
        <ul class="social_links">
          <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="hero-image">
        <img src="img/me.jpg" alt="Profile Picture">
      </div>
    </div>
  </div>
</section>
